*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ChulaNarak';
    src: url('../fonts/ChulaNarak-Bold.woff2') format('woff2'),
    url('../fonts/ChulaNarak-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ChulaNarak', sans-serif;
    background-color: #000000;
    color: #A020F0;
}

a {
    text-decoration: none;
}

ul, li{
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.header{
    padding: 40px 0;
    margin-bottom: 20px;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    flex-shrink: 0;
}

.header-logo img{
    width: 150px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-nav__list li:not(:last-child){
    margin-right: 40px;
}

.header-nav__link{
    color: #5D3FD3;
    font-size: 30px;
    background-color: rgba(93, 63, 211, 0.5);
    border-radius: 40px;
    padding: 0px 15px 5px 15px;
    transition: all 0.5s ease-in-out;
    display: inline-block;
}

.header-nav__link.under-link{
    text-decoration: line-through;
    text-decoration-skip-ink: none;
}

.header-nav__link:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.header-menu {
    display: none;
    position: relative;
    z-index: 30;
    width: 40px;
    height: 40px;
    margin: 20px 0 0 20px;
}

.header-menu span {
    display: block;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    transition: 0.4s ease;

}

.header-menu span:nth-child(1) {
    top: 25%;
}

.header-menu span:nth-child(3) {
    top: 75%;
}

.header-btn__close span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}
.header-btn__close span:nth-child(2) {
    opacity: 0;
}
.header-btn__close span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

.sleepy{
    margin-bottom: 40px;
}

.sleepy-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sleepy-pic img{
    max-width: 1300px;
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        padding: 0;
        margin: 0;
        position: relative;
    }
    .header-menu {
        display: block;
    }
    .header-inner{
        background-color: #000000;
        flex-direction: column;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 20;
        width: 100%;
        height: 100vh;
        transition: 0.4s ease;
    }
    .header-nav {
        flex-grow: 0;
    }
    .header-logo{
        margin-bottom: 30px;
        margin-left: 5px;
    }
    .header-nav__list{
        flex-direction: column;
        justify-content: flex-start;
    }
    .header-nav__list li:not(:last-child){
       margin: 0 0 20px;
    }
    .menu-active {
        left: 0;
    }
    .sleepy {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}