*,
*::after,
*::before {
    box-sizing: border-box;
}

a,
a:link {
    text-decoration: none;
    outline: none;
    border: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sleepy-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sleepy-logo,
.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
    padding: 15px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sleepy-logo,
.image3 {
    height: 330px;
}

.item1 {
    position: relative;
}

.cat-img {
    position: absolute;
    bottom: 15px;
    right: -105px;
    z-index: 2;
    width: 200px;
}

.image1,
.image2 {
    height: 470px;
}

.image1 {
    transition: all ease-in 0.4s;
    cursor: pointer;
}

.image1:hover {
    transform: scale(1.04);
    transition: all ease-in 0.4s;
}

.image4 {
    height: 290px;
}

.sleepy-image__container {
    display: flex;
    position: relative;
}

.octopus-cat {
    position: absolute;
    width: 230px;
    bottom: 15px;
    right: 95px;
    z-index: 2;
}

.image5,
.image6 {
    height: 510px;
}

.mobile-container {
    width: 100vw;
    height: 100%;
    background-color: #000000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.sleepy-mobile__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 697px;
    margin: 0 auto;
}

.sleepy-mobile__container {
    padding: 0 10px;
}

.centered-image {
    align-items: center;
}

.sleepy-mobile__logo,
.sleepy-mobile__img1,
.sleepy-mobile__img2,
.sleepy-mobile__img3,
.sleepy-mobile__img4,
.sleepy-mobile__img5,
.sleepy-mobile__img6 {
    display: block;
    padding: 10px 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sleepy-mobile__logo {
    width: 645px;
}

.sleepy-mobile__img1 {
    width: 342px;
}


.sleepy-mobile__img2 {
    width: 307px;
}

.sleepy-mobile__img3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 412px;
    transition: all ease-in 0.4s;
}

.sleepy-mobile__img3:hover {
    transform: scale(1.04);
    transition: all ease-in 0.4s;
}

.sleepy-mobile__img4 {
    width: 673px;
}

.sleepy-mobile__img5 {
    width: 335px;
}

.with-control {
    width: 673px;
}

.sleepy-mobile__img6 {
    width: 389px;
    position: absolute;
    top: 0;
    right: 0;
}


@media (max-width: 1700px) {
    .container {
        padding: 10px;
    }
    .sleepy-logo,
    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6 {
        padding: 10px;
    }
    .sleepy-logo,
    .image3 {
        height: 246px;
    }

    .image1,
    .image2 {
        height: 354px;
    }

    .image4 {
        height: 215px;
    }

    .image5,
    .image6 {
        height: 385px;
    }
    .cat-img {
        width: 140px;
        right: -80px;
    }
    .octopus-cat {
        width: 180px;
        bottom: 10px;
        right: 65px;
    }
}


@media (max-width: 1260px) {
    .container {
        padding: 5px;
    }
    .sleepy-logo,
    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6 {
        padding: 5px;
    }
    .sleepy-logo,
    .image3 {
        height: 203px;
    }

    .image1,
    .image2 {
        height: 297px;
    }

    .image4 {
        height: 175px;
    }

    .image5,
    .image6 {
        height: 325px;
    }
    .cat-img {
        width: 120px;
        right: -65px;
        bottom: 6px;
    }
    .octopus-cat {
        width: 145px;
        bottom: 6px;
        right: 55px;
    }
}

@media (max-width: 1023px) {
    .container {
        display: none;
    }
    .mobile-container {
        display: block;
    }
}

@media (max-width: 760px) {
    .mobile-container {
        padding: 25px 10px;
    }

    .sleepy-mobile__inner {
        max-width: 400px;
    }

    .sleepy-mobile__container {
        padding: 0;
    }

    .sleepy-mobile__logo,
    .sleepy-mobile__img1,
    .sleepy-mobile__img2,
    .sleepy-mobile__img3,
    .sleepy-mobile__img4,
    .sleepy-mobile__img5,
    .sleepy-mobile__img6 {
        padding: 7px 0;
    }

    .sleepy-mobile__logo {
        width: 366px;
        padding-bottom: 10px;
    }

    .sleepy-mobile__img1 {
        width: 200px;
    }

    .sleepy-mobile__img2 {
        width: 179px;
    }

    .sleepy-mobile__img3 {
        width: 228px;
    }

    .sleepy-mobile__img4 {
        width: 400px;
    }

    .sleepy-mobile__img5 {
        width: 199px;
    }

    .with-control {
        width: 400px;
    }

    .sleepy-mobile__img6 {
        width: 231px;
    }
}

@media (max-width: 424px) {
    .mobile-container {
        padding: 20px 10px;
    }

    .sleepy-mobile__inner {
        max-width: 350px;
    }

    .sleepy-mobile__container {
        padding: 0;
    }

    .sleepy-mobile__logo,
    .sleepy-mobile__img1,
    .sleepy-mobile__img2,
    .sleepy-mobile__img3,
    .sleepy-mobile__img4,
    .sleepy-mobile__img5,
    .sleepy-mobile__img6 {
        padding: 5px 0;
    }

    .sleepy-mobile__logo {
        width: 326px;
        padding-bottom: 10px;
    }

    .sleepy-mobile__img1 {
        width: 178px;
    }

    .sleepy-mobile__img2 {
        width: 159px;
    }

    .sleepy-mobile__img3 {
        width: 201px;
    }

    .sleepy-mobile__img4 {
        width: 350px;
    }

    .sleepy-mobile__img5 {
        width: 175px;
    }

    .with-control {
        width: 350px;
    }

    .sleepy-mobile__img6 {
        width: 203px;
    }
}

@media (max-width: 374px) {
    .mobile-container {
        padding: 15px 5px;
    }

    .sleepy-mobile__inner {
        max-width: 300px;
    }

    .sleepy-mobile__container {
        padding: 0;
    }

    .sleepy-mobile__logo,
    .sleepy-mobile__img1,
    .sleepy-mobile__img2,
    .sleepy-mobile__img3,
    .sleepy-mobile__img4,
    .sleepy-mobile__img5,
    .sleepy-mobile__img6 {
        padding: 5px 0;
    }

    .sleepy-mobile__logo {
        width: 280px;
        padding-bottom: 10px;
    }

    .sleepy-mobile__img1 {
        width: 151px;
    }

    .sleepy-mobile__img2 {
        width: 135px;
    }

    .sleepy-mobile__img3 {
        width: 173px;
    }

    .sleepy-mobile__img4 {
        width: 300px;
    }

    .sleepy-mobile__img5 {
        width: 150px;
    }

    .with-control {
        width: 300px;
    }

    .sleepy-mobile__img6 {
        width: 174px;
    }
}

